
.comment-area{
    margin-bottom: 1rem;
}
.comment{
    background-color: hsl(0 0% 97%);
    border-radius: 1rem;
    margin-bottom:0.5em;
    max-width: 60%;
    padding: 0.5em 1em;
}

.comment-area--title{
    font-weight: 500;
    color: #aaa;
    margin-bottom: 0.25em;
}